#topicon{
    width: 100%;
    text-align: center;

}

#topicon
img{
    width: 40px;
    margin-left: auto;
    margin-right: auto;


}

#header{

    width: 100%;
    height: 54vw;
    position: relative;

}
#header
video{
    width: 100%;
    position: absolute;
}

#header
img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn--orange{
    position: absolute;
    z-index: 1;
    padding: 5px 70px;
    top: 60%;
    left: 50%;
    background-color: #e67b04;
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;

}

.btn--blue{
    position: absolute;
    z-index: 1;
    padding: 5px 50px;
    top: 60%;
    left: 25%;
    background-color: #007dd1;
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;

}

#news{
    background-image: url("../image/news-bg.jpg");
    width: 100%;
    height: 60vw;
    background-size: 130%;
    background-repeat: no-repeat;

}



#newsleft{
    width: 50%;
    height: 100%;
    float: left;
}
#newsleft
a{
    background-color: #FF9c00;
    text-decoration: none;

}
#newsleft
.topic{
    width: 25%;
    height: 25%;
    

}
.topic
#topic-image1{
    background-image: url("../image/topic1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 25%;
}
.topic
#topic-image2{
    background-image: url("../image/topic2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 25%;
}

.topic
#topic-image3{
    background-image: url("../image/topic3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 25%;
}

.topic
#topic-image4{
    background-image: url("../image/topic4.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 25%;
}
.topic
.topic-title{
    background-color: white;
    margin: 0;
    font-size: 1vw;
    padding: 0.5vw 1vw;
}
#topic1{
    margin: 10px;
}





#newsright{
    width: 50%;
    height: 100%;
    float: right;
}

.btn--black{
    color: white;
    background-color: black
    padding 10px
}






